[submodule "thread-pool"]
	path = thread-pool
	url = https://github.com/bshoshany/thread-pool.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
[submodule "cinderbox"]
	path = cinderbox
	url = https://github.com/Pencilcaseman/cinderbox.git
